body {
    height: 100%;
    font-family: Arial, sans-serif;
    background-image: url("cloud.avif");
    background-size:cover;
    text-align: center;
    margin: 50px;
  
}

#weather-container {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    background-color:rgb(255, 208, 0) ;
    padding: 20px;
    border: 1px solid #c29d9d;
    border-radius: 8px;
}

#weather-icon {
    max-width: 200px;
    margin: 0 auto;
}